---
const image = {
  width: 40,
  height: 20,
};
---

<nav
  class="absolute top-0 p-5 flex flex-row w-full top-navbar items-center justify-between"
>
  <div class="flex self-start">
    <a href="/" class="hover:cursor-pointer logo">
      <img
        src="src/assets/navbar/nav_logo.png"
        alt="Book Logo"
        width={image.width + 30}
        height={image.height + 30}
      />
    </a>
  </div>
  <div class="flex flex-row">
    <a href="/" class={""}>
      <img
        src="src/assets/navbar/home_page.png"
        alt=""
        width={image.width}
        height={image.height}
      />
      Home
    </a>
    <a href="/stories" class={""}>
      <img
        src="src/assets/navbar/stories_page.png"
        alt=""
        width={image.width}
        height={image.height}
      />
      Stories
    </a>
    <a href="/your-stories" class={""}>
      <img
        src="src/assets/navbar/your_stories_page.png"
        alt=""
        width={image.width}
        height={image.height}
      />Your Stories</a
    >
  </div>
</nav>

<style>
  .top-navbar a {
    border: 2px solid var(--body-background-color);
    display: flex;
    margin: 0px 10px;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .top-navbar a > img {
    margin-right: 15px;
  }
  .top-navbar a:focus:not(a.logo) {
    border: 2px solid #388e3c;
    border-radius: 15px;
  }
  .top-navbar a:first-of-type() {
    margin-left: 10px;
  }
  .top-navbar a:last-of-type() {
  }
</style>
